.logo {
  background-image: url("../img/logo.svg");
}

.girl {
  background-image: url("../img/girl.svg");
}

.girl2 {
  background-image: url("../img/girl2.svg");
}

.facebook {
  background-image: url("../img/facebook.svg");
}

.instagram {
  background-image: url("../img/instagram.svg");
}

.behance {
  background-image: url("../img/behance.svg");
}

.linkedin {
  background-image: url("../img/linkedin.svg");
}
