.logo {
  background-image: url("../img/logo.svg");
}

.girl {
  background-image: url("../img/girl.svg");
}

.girl2 {
  background-image: url("../img/girl2.svg");
}

.facebook {
  background-image: url("../img/facebook.svg");
}

.instagram {
  background-image: url("../img/instagram.svg");
}

.behance {
  background-image: url("../img/behance.svg");
}

.linkedin {
  background-image: url("../img/linkedin.svg");
}

.grafico95 {
  background-image: url("../img/grafico95.svg");
}

.grafico90 {
  background-image: url("../img/grafico90.svg");
}

.grafico85 {
  background-image: url("../img/grafico85.svg");
}

.grafico852 {
  background-image: url("../img/grafico852.svg");
}

.livro {
  background-image: url("../img/livro.jpg");
}

.nike {
  background-image: url("../img/nike.jpg");
}

.saco {
  background-image: url("../img/saco.jpg");
}

.shiego {
  background-image: url("../img/shiego.jpg");
}

.bd {
  background-image: url("../img/bd.png");
}

.seta {
  background-image: url("../img/seta.svg");
}

.hamburger {
  background-image: url("../img/hamburger.png");
}
